{% extends "base.html" %}

{% block title %}
Contact
{% endblock %}

{% block content %}

<h1 class="text-center text-warning mb-5">

    📞 Contact Us

</h1>

<div class="row justify-content-center">

    <div class="col-md-8">

        <div class="card shadow-lg">

            <div class="card-body p-4">

                <form method="POST">

                    {% csrf_token %}

                    {{ form.as_p }}

                    <button
                        class="btn btn-warning">

                        Send Message

                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}