{% extends "base.html" %}

{% block title %}
Delete Player
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-body">

            <h3 class="text-danger">
                Delete Player
            </h3>

            <hr>

            <p>

                Are you sure you want to delete

                <strong>{{ player.name }}</strong> ?

            </p>

            <form method="POST">

                {% csrf_token %}

                <button class="btn btn-danger">

                    Yes, Delete

                </button>

                <a href="{% url 'player_detail' player.id %}"
                   class="btn btn-secondary">

                    Cancel

                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}