# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# Database
db.sqlite3

# Media Files
media/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Static Build
staticfiles/

# macOS
.DS_Store