{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}

<div class="container mt-5" style="max-width:600px;">

    <div class="card shadow">

        <div class="card-body">

            <h2 class="mb-4 text-center">
                Create Account
            </h2>

            <form method="POST">

                {% csrf_token %}

                <div class="mb-3">
                        <label>Username</label>
                        {{ form.username }}
                    </div>

                    <div class="mb-3">
                        <label>Email</label>
                        {{ form.email }}
                    </div>

                    <div class="mb-3">
                        <label>Password</label>
                        {{ form.password1 }}
                    </div>

                    <div class="mb-3">
                        <label>Confirm Password</label>
                        {{ form.password2 }}
                    </div>

                    <button class="btn btn-success w-100">
                        Register
                    </button>

            </form>

            <hr>

            <p class="text-center">

                Already have an account?

                <a href="{% url 'login' %}">

                    Login

                </a>

            </p>

        </div>

    </div>

</div>

{% endblock %}